*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(rgba(0, 0, 0, 0.208),rgba(0, 0, 0, 0.904)),url(bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}




.box{
    background-color: rgb(24, 12, 35);
    border-radius: 1.5rem;
    box-shadow: 6px 10px 18px rgba(224, 160, 41, 0.54);
}
.input-box{
    padding: 2rem;
    
}
.input{
    padding: 1rem;
    border-radius: 1rem;
    width: 400px;
    font-size: 1.25rem;
}
.btn{
    margin-left: 1rem;
    width: 80px;
    border-radius: 1rem;
    padding: 0.6rem;
    cursor: pointer;
    font-size: 1.25rem;
    background-color: rgb(143, 9, 51);
    border: none;
    color: white;
}
.todo-list{
    padding: 0rem 3rem 1.5rem 3rem;
    color: white;
}
.todo-list li{
    position: relative;
    padding: 0.8rem;
    font-size: 1.25rem;
}
.todo-list .del{
    position: absolute;
    right: 0;
    background-color: rgb(143, 9, 51);
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 1rem;
    font-size: 0.9rem;
    border: none;
    color: white;
}






.time-box{
    position: absolute;
    right: 0;
    top: 0;
    margin: 2rem;
    display: flex;
    color: white;
    text-align: center;
    box-shadow: 6px 10px 18px rgba(22, 9, 40, 0.785);
    border-radius: 2rem 0rem 0rem 2rem;

}
.time-box-left{
    background-color: rgb(56, 26, 63);
    padding: 1rem;
    border-radius: 2rem 0rem 0rem 2rem;
}
.time-box-right{
    background-color: rgba(94, 7, 131, 0.344);
    padding: 1rem;
}